/*
Color palette:
#F7FFF7 - almost white
#343434 - dark gray almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* Global Styles
-----------------------------------------------*/
body {
    color: #343434;
    margin: 0;
    padding: 0;
}
img {
    width: 200px;
}
a {
    color: #FFE66D;
}
a:hover {
    text-decoration-line: none;
}

h2 {
    margin: 0;
}

.content-wrap {
    width: 450px;
    margin: 0 auto;
    padding: 60px 0;
}
/* Profile
-----------------------------------------------*/
header {
    background: #2F3061;
    color: #F7FFF7;
}



/* Projects
-----------------------------------------------*/
.projects {
    background: #F7FFF7;
}
.projects a {
    color: #2f3061;
}
.projects .btn {
    color: #F7FFF7;
    background: darkblue;
    text-decoration-line: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover {
    background: rgba(0, 0, 139, 80%);
}

/* experience
-----------------------------------------------*/
.experience {
    background: #A1C6D7;
}


/* education
-----------------------------------------------*/


/* contact
-----------------------------------------------*/
footer {
    background: #343434;
    color: #F7FFF7;
}


/*
(longhand):

    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;

is the same that to say:
(shorthand)
    padding: 10px 5px;
*/